.DS_Store
guidelines.md
*.pdb
*.sdf
*.pdbqt
*.log
*.json
*.zip
*.pqr
*.bk
log*.*
!logo.png
.ipynb_checkpoints/
biobb_wf_virtual-screening/notebooks/*/*/
biobb_wf_virtual-screening/notebooks/*/*.web.ipynb
biobb_wf_virtual-screening/notebooks/*/*.docs.ipynb
biobb_wf_virtual-screening/notebooks/*/*.png